<%= form_with model: [@tweeet, @tweeet.comments.build] do |f|%>
         <div><%= f.text_area :body,  placeholder:'Tweet your Reply', class: 'form-control', rows: 5, autofocus: true%></div><br>
         <div><%= f.submit class:'btn btn-success' %></div>
<%end%>