<div class="col-md-7">
<div class="media border">
  <img src="https://bulma.io/images/placeholders/64x64.png" class="align-self-start mr-3 my-auto ml-2" alt="...">
  <div class="media-body">
    <h5 class="mt-2">Top-aligned media</h5>
    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
  </div>
</div>
</div>

<% @tweeets.each do |tweeet| %>
<div class="col-md-4">
    <div class="media border">
        <img src="https://bulma.io/images/placeholders/64x64.png" class="align-self-start mr-3 my-auto p-2 ml-2" alt="...">
        <div class="media-body">
            <strong>Tupac Shakur</strong><br>
            <small>@shakur</small>
            <p><%= tweeet.tweet %></p>
        </div>
  </div>
</div>
<% end %>