<div class="col-md-2">
<div class="card" >
  <div class="card-header">
    Trending
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item phona d-flex justify-content-around">
      <img src="https://bulma.io/images/placeholders/32x32.png"  alt="...">
      <p class="pt-2"> Tread 1</p>
    </li>
    <li class="list-group-item phone d-flex justify-content-around">
      <img src="https://bulma.io/images/placeholders/32x32.png"  alt="...">
      <p class="pt-2"> Tread 2</p>
    </li>
    <li class="list-group-item phone d-flex justify-content-around">
      <img src="https://bulma.io/images/placeholders/32x32.png"  alt="...">
      <p class="pt-2"> Tread 3</p>
    </li>
    
    
    
  </ul>
</div>
</div>