<div class="mx-auto w-50">
    <h4 class="pl-4 mt-3">Editing Tweeet</h4>
    
    <%= render 'form', tweeet: @tweeet %>
    
      <%= link_to 'Show', @tweeet %> |
      <%= link_to 'Back', tweeets_path %>
</div>
