<section class="containa">
<div class="row mt-3">
  <% if user_signed_in? %>
   <%= render 'tweeets/profile' %>
  <% end %>
  <%= render 'tweeets/feed'%>
  <%= render 'tweeets/who_to' %>
</div>

</section>

