<div class= 'w-50 mx-auto mt-5'>
    <%= image_tag("#{@user.avatar}",class: 'show_image')%><br>
     <p  class= "display-5"><strong>Name:</strong> <%= @user.name.capitalize%></p>
    <p> <strong>Username:</strong> <%= @user.username%></p>
</div>