@import "font-awesome";

.phona {
  img {
    width: 5em;
    border-radius: 10%;
  }
}

.profile_avatar {
    height: 5rem;
    width: 2rem;
}

.contain {
  width: 50%;
}
.show_image {
  width: 50%;
  height: 20rem;
  border-radius: 1rem;
  margin: auto;
}

.list_image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.feed_image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.who:not(:first-child),
.bbm {
  border-bottom: 0.5px solid grey;
}

.time_ago {
  font-size: x-small;
  color: grey
}

.tweet_image {
  width: 300px;
  height: 300px;
  border-radius: 0.5rem;
}

.small {
  font-size: x-small;
}

.comment {
  padding-left: 5rem;
  text-align: left;  
}

.grid-system {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 90%;
  grid-gap: 1rem;
  padding: 1rem;
}

.who_link{ 
  font-size: x-small;
}

@media screen and (max-width: 768px) {
    .contain {
      width: 90%;
    }

  .show_image {
      width: 90%;
  }
  
  .grid-system {
    grid-template-columns: 1fr;
    margin: auto;
  }
}

  
