@import "font-awesome";

.media {
  border-radius: 5px;

  img {
      border-radius: 50%;
  }
}

.card {
  img {
      width: 50px;
      border-radius: 50%;
    }
}

.phona {
  img {
      width: 80px;
      border-radius: 50%;
    }  
}
